@import model.Hotel
@(webJarAssets: WebJarAssets)(maybeHotels: Option[Seq[Hotel]])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel Listings</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>
        <h1>TODO implement listings</h1>

        <form method="get">
            <div class="form-group">
                <label>Destination</label>
                <input class="form-control" name="destination" id="destination">
            </div>
            <div class="form-group">
                <label>Distance</label>
                <input class="form-control" name="distance" id="distance" >
            </div>
            <button id="load-hotels" type="submit" class="btn btn-default">Submit</button>
        </form>

        @for(hotels <- maybeHotels) {
            <table>
                <tbody>
                    @for(hotel <- hotels) {
                        <tr>
                            <td>@hotel.name</td>
                            <td>
                            @for(image <- hotel.smallImages) {
                                <img src="@image" />
                            }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @* Using https://github.com/vmunier/scalajs-scripts *@
        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
