@import model._
@import views.TableView
@(webJarAssets: WebJarAssets)(destination: Option[String], distance: Option[Float], hotels: Option[Seq[Hotel]])

@link(coordinates: Coordinates) = @{
    import coordinates._
    s"http://maps.google.com/?q=$lat,$long"
}

@title = @{
    if(destination.isDefined) {
        s"Hotel Listings for ${destination.get}"
    } else {
        "Hotel Listings"
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("animate.min.css"))'>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>
    </head>
    <body>

        <div class="container">
            <h1>@title</h1>
            <form class="form-inline" method="get">
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" name="destination" id="destination" placeholder="e.g. London" value="@destination.getOrElse("")">
                </div>
                <div class="form-group">
                    <label for="distance">Distance</label>
                    <input type="number" min="0.5" max="20" step="0.5" class="form-control" name="distance" id="distance" value="@{
                        distance.getOrElse(2)
                    }">
                </div>
                <button id="load-hotels" type="submit" class="btn btn-default">Load Hotels</button>
            </form>

            @Html(views.HotelsTable(hotels.getOrElse(Nil)).render)
        </div>


        @* Using https://github.com/vmunier/scalajs-scripts *@
        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)

    </body>
</html>
