@import model._
@import views.TableView
@(webJarAssets: WebJarAssets)(hotel: Hotel)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <title>Booking: @hotel.name</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("animate.min.css"))'>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    </head>
</head>
<body>
    <div id="booking-content" class="container">
        <!--TODO-->
    </div>

    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    <script>hotelBooking()</script>
</body>
</html>