@(webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel Listings</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>
        <h1>TODO implement listings</h1>
        @* Using https://github.com/vmunier/scalajs-scripts *@
        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
